/*
!.gitignore
!README.md
!lib
lib/data_module_design
lib/data_module_design*.ex
lib/data_module_design_web/*
!lib/data_module_design_web/live

!lib/data_module_design/
lib/data_module_design/*
!lib/data_module_design/people*